<h1>Добро пожаловать!</h1>
<h3>Чтобы выполнить вычисления, войдите или зарегистрируйтесь</h3>
<%= button_to "Войти", '/login', method: :get %>
<%= button_to "Регистрация", '/users/new', method: :get %>
